*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this define what 1rem is
  font-size: 62.5%; // 1rem = 10px

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  box-sizing: border-box;
}
