.u-center-text {
  text-align: center;
}

.u-mb-large {
  margin-bottom: 8rem;
}

.u-mb-medium {
  margin-bottom: 4rem;
}

.u-mb-small {
  margin-bottom: 1.5rem;
}

.u-bt-large {
  margin-bottom: 10rem;
}
