.u-center-text {
  text-align: center !important;
}

.u-mb-large {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-mb-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-mb-small {
  margin-bottom: 1.5rem !important;
}

.u-bt-large {
  margin-bottom: 10rem !important;
}
